.Repairs {}

table.Repairs-table {
  width: 100%;
  margin-top: 20px;

  td, th {
    text-align: center;

    &.Repairs-cell--center {
      text-align: center;
    }
  }

  thead {
    border-bottom: 1px solid rgba(0,0,0,.3);
    background-color: rgba(0,0,0,.02);
    th {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid rgba(0,0,0,.1);
      min-height: 59px;
      &:nth-child(even) {
        background: transparent;
      }
      &:nth-child(odd) {
        background: white;
      }
    }
  }
}
