.RepairDetail {
  dl {
    margin: 0;
    dt {
      font-weight: bold;
      margin-bottom: 5px;
    }
    dd {
      margin-bottom: 15px;
      margin-left: 15px;
    }
  }
}

.Repairs-removeButton {
  background-color: #990000;
  margin-left: 10px;
  &:hover {
    background-color: #880000;
  }
}
