.Dashboard {
  fieldset {
    border: none;
    padding: 20px 15px;
    background-color: rgba(0,0,0,.02);
    border-radius: 10px;
    margin-bottom: 20px;
    dl {
      margin-top: 0;
      margin-bottom: 0;
      dt {
        margin-bottom: 5px;
      }
      dd {
        margin-left: 0;
        margin-bottom: 10px;
        input, .label {
          width: 100%;
          max-width: 300px;
        }
        .label {
          background-color: rgba(255,255,255,.5);
          border: 1px solid rgba(0,0,0,.1);
          padding: 10px 10px;
          color: rgba(0,0,0,.5);
          border-radius: 5px;
          display: inline-block;
        }
      }
    }
    button, input[type=submit], input[type=button] {
      margin-top: 10px;
    }
  }
}

.Sidebar {
  width: 200px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.02);
}

.Sidebar-nav {
  padding: 15px 0 0;
}

.Sidebar-nav-item {
  display: block;
  padding: 8px 10px 8px 10px;
  border-bottom: 1px solid white;
  border-left: 3px solid rgba(0,0,0,.1);
  text-decoration: none;
  transition: background-color 350ms, border-color 350ms;
  &:hover {
    text-decoration: none;
    background-color: rgba(0,0,0,.02);
  }
}

.Sidebar-nav-item--active {
  border-left-color: #009cff;
}

.Dashboard-main {
  padding: 0 20px;
  margin-left: 200px;
}

.UserWelcome {
  border-bottom: 1px solid rgba(0,0,0,.05);
  padding: 15px;
}

.UserWelcome-msg {
  display: block;
  margin-bottom: 5px;
}
